
<section class = 'main-view items-view' >

  <h3>{{items.1.store.name}}</h3>
  <p> {{items.1.store.location}}</p>
  <p> On Sale From {{items.1.start_date}} to {{items.1.end_date}} </p>

<input type="text" class="ItemSearch" placeholder="Search Items">
<div class = 'row items'>
  {{#each items as | item |}}
  <div class='col-md-3 col-xs-6 itemcol'>
      <div class="item panel panel-default">
        <div class="panel-heading">
          <p class="panel-title truncate">{{ item.title }}</p>
          <p class = 'price-desc'>${{item.price}} for {{item.quantity}}</p>
        </div>
        <div class='item-photo'>
          <img src="{{ item.image }}" class = 'img' height='200px' >
        </div>
        </a>
          <button data-id="{{ item.id }}"
          class="item-btn btn btn-mini btn-success glyphicon glyphicon-plus"
          type="button">
          </button>
      </div>
    </div>
      <!-- {{#custom @index}}
      </div>
      <div class = "row items">
      {{/custom}} -->
  {{/each}}
  </section>
