
<!-- <section class = 'main-view items-view' > -->
<div class = 'row items'>
  {{#each items as | item |}}
  <div class='col-md-3 col-xs-6 itemcol'>
      <div class="item panel panel-default">
        <div class="panel-heading">
          <p class="panel-title truncate">{{ item.title }}</p>
          <p class = 'price-desc'>${{item.price}} for {{item.quantity}}</p>
        </div>
        <div class='item-photo'>
          <img src="{{ item.image }}" class = 'img' height='200px' >
        </div>
        </a>
          <button data-id="{{ item.id }}"
          class="item-btn btn btn-mini btn-success glyphicon glyphicon-plus"
          type="button">
          </button>
      </div>
    </div>
      <!-- {{#custom @index}}
      </div>
      <div class = "row items">
      {{/custom}} -->
  {{/each}}
  <!-- </section> -->
