

<div class = 'row items'>
  {{#each items as | item |}}

  <div class='col-md-3'>
      <div class="item panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">{{ item.title }}</h2>
          ${{item.price}} for {{item.quantity}}

        </div>
        <div class='item-photo'>
          <img src="{{ item.image }}" height="200">
        </div>
        </a>
        <button data-id="{{ item.id }}"
        class="btn btn-mini btn-danger glyphicon glyphicon-plus"
        type="button">
      </button>
      </div>
    </div>
  {{/each}}
  </div>
