<table class = 'cart-items table table-striped table-condensed table-bordered'>
  <thead>
    <tr>
      <td colspan='1'></td>
      <td colspan='4'>Cart</td>
    </tr>
  </thead>
  <tbody>
    {{#each cartItems as | cartItem |}}
    <tr class = 'cart-item' data-id= {{cartItem.id}}>
      <td> <button class='cart-btn-remove btn btn-mini btn-success glyphicon glyphicon-remove' data-id = {{ cartItem.item.id }}>Remove</button></td>
      <td>{{ cartItem.item.quantity }}</td>
      <td>{{ cartItem.item.title }}</td>
      <td>${{ cartItem.item.price}}</td>
      <td class = 'quantity'>
        <p>{{cartItem.quantity}}</p>
        <button data-id = {{ cartItem.item.id }} class= 'cart-btn-add btn btn-mini btn-success glyphicon glyphicon-plus'></button>
      </td>
    </tr>
    {{/each}}
    <tr>
      <td colspan = '2'></td>
      <td> Total </td>
      <td id= 'cart-total'></td>
    </tr>

  </tbody>
</table>
