<table class = 'cart-items table table-striped table-condensed'>
  <thead>
    <tr>
      <td></td>
      <td>Sale Quantity</td>
      <td>Item</td>
      <td>Price</td>
      <td>Quantity</td>

    </tr>
  </thead>
  <tbody>
    {{#each cartItems as | cartItem |}}
    <tr class = 'cart-item' data-id= {{cartItem.id}}>
      <td> <button class='cart-btn-remove btn btn-danger' data-id = {{ cartItem.item.id }}>Remove</button></td>
      <td>{{ cartItem.item.quantity }}</td>
      <td>{{ cartItem.item.title }}</td>
      <td>${{ cartItem.item.price}}</td>
      <td class = 'quantity'>
        <p>{{cartItem.quantity}}</p>
        <button data-id = {{ cartItem.item.id }} class= 'cart-btn-add btn btn-mini btn-success glyphicon glyphicon-plus'></button>
      </td>
      <!-- <td> <input type='text' placeholder="{{cartItem.quantity}}"></input></td> -->
    </tr>
    {{/each}}

  </tbody>
</table>
